    <nav class="navbar navbar-light bg-success fixed-bottom border-top bottom-nav">
        <div class="container-fluid">
            <div class="d-flex justify-content-around w-100 text-center">
                <a href="./list.php" class="nav-link active text-decoration-none text-dark">
                    <i class="bi bi-house"></i><br>
                    Accueil
                </a>
                <a href="#" class="nav-link text-decoration-none text-dark">
                    <i class="bi bi-list"></i><br>
                    Menu
                </a>
                <a href="" class="nav-link text-decoration-none text-dark">
                    <i class="bi bi-bag-check"></i><br>
                    Commande
                </a>
                <a href="#" class="nav-link text-decoration-none text-dark">
                    <i class="bi bi-person"></i><br>
                    Profil
                </a>
            </div>
        </div>
    </nav>