<div class="p-3">
    <button class="btn btn-success" style="border: solid 1px;" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
        <i class="bi bi-list"></i>
    </button>
</div>

<div class="offcanvas offcanvas-start text-bg-dark" style="width: 260px;" tabindex="-1" id="sidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Mon menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="./add-product.php">Ajouter un produit</a>
            </li>
        </ul>
    </div>
</div>